*{
	font-family: 'Raleway', sans-serif;
	color: white;

}
p{
	font-weight: 500;
}
  p::first-letter {

  float: top;
  font-size: 1.5em;

}
body{
background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
.box{
	width: 50%;
	width: 90%;
	margin: auto;
}
ul{
	list-style-type: none;
}
a{
	text-decoration: none;
}
.img{

	width: 20em;
	height: 20em;
}
